#doc-heading {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    line-height: 50px;
}

h3#doc-subheading {
    display: block;
    margin: 10px 0;

    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-weight: 500;

}

div.doc-item {
    width: 100%;
    margin: 30px 0 30px 0;
}

.doc-item h3 {
    display: inline-block;
    font-size: 18px;

}

.doc-item p {
    display: inline-block;
    margin-inline-start: 7px;
    font-size: 18px;
}

.doc-item ul {
    width: 100%;
    margin: 16px 0 16px 30px;
    padding: 0;
}

.doc-item ul li {
    font-size: 18px;
    margin: 10px 0;
}

#doc-delete {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
}

#doc-delete-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    text-align: center;
    border: 2px solid var(--dark-red);
    border-radius: 5px;
    padding: 15px 5px 5px 5px;
    background-color: white;
}

#doc-delete-wrapper button {
    width: 100%;
}

#doc-delete-wrapper button:first-of-type {
    margin: 30px 0 0 0;
}

#delete-warning {
    font-size: 20px;
}


@media only screen and (min-width: 768px) {
    #agendaList {
        padding: 0 0 0 20px;
    }


    #doc-delete {
        top: 80px;
        height: 80vh;
    }
}