.doc-item {
    margin: 15px 0 0 0;
    max-width: 350px;
}

.doc-item * {
    width: 100%;
}

.doc-item input {
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
}

#agendaList .items {
    list-style-type: none;
}

#agendaList .items .item {
    width: 350px;
}

#agendaList .items .removeItem {
    width: 50px;
    color: white;
    background-color: var(--dark-red);
}

#agendaList .items .removeItem:hover {
    color: var(--dark-red);
    background-color: var(--light-red);
}

#doc-delete {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
}

#doc-delete-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    text-align: center;
    border: 2px solid var(--dark-red);
    border-radius: 5px;
    padding: 15px 5px 5px 5px;
    background-color: white;
}

#doc-delete-wrapper button {
    width: 100%;
}

#doc-delete-wrapper button:first-of-type {
    margin: 30px 0 0 0;
}

#delete-warning {
    font-size: 20px;
}