.doc-item {
    margin: 15px 0 0 0;
    max-width: 350px;
}

.doc-item * {
    width: 100%;
}

.doc-item input {
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
}

#agendaList {
    padding: 0;
}

.items {
    list-style-type: none;
}

.items .item {
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    height: 50px;
    font-size: 18px;

    padding: 5px 5px 0;
    border-radius: 5px;
}

.items .removeItem {
    width: 50px;
    color: white;
    background-color: var(--dark-red);
}

.items .removeItem:hover {
    color: var(--dark-red);
    background-color: var(--light-red);
}

#doc-delete {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
}

#doc-delete-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    text-align: center;
    border: 2px solid var(--dark-red);
    border-radius: 5px;
    padding: 15px 5px 5px 5px;
    background-color: white;
}

#doc-delete-wrapper button {
    width: 100%;
}

#doc-delete-wrapper button:first-of-type {
    margin: 30px 0 0 0;
}

#delete-warning {
    font-size: 20px;
}


@media only screen and (min-width: 768px) {
    #agendaList {
        padding: 0 0 0 20px;
    }


    #doc-delete {
        top: 80px;
        height: 80vh;
    }
}