.login-wrapper {
    max-width: 350px !important; 
}

.login-wrapper * {
    display: block;
}

.login-wrapper input {
    margin: 0 0 15px 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.login-wrapper label, .login-wrapper input {
    font-size: 18px;
}

.login-wrapper button, .login-wrapper a {
    text-align: center;
    width: 100%;
}

.login, button.login, button.login:hover {
    background: var(--light-grey);
    color: black;
}
