@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');
@import url('./login.css');
@import url('./doc.css');
@import url('./print.css');

:root {
    --dark-blue: #00799F;
    --light-blue: #BFDEE8;
    --dark-red: #910505;
    --light-red: #ff9393;
    --dark-green: #028202;
    --light-green: #50f650;
    --dark-grey: #707070;
    --light-grey: #cccccc;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.form-warning {
    color: var(--dark-red);
}

header {
    background: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    height: 60px;

    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#home svg {
    padding: 10px;
    border-radius: 50%;
    height: 50px;
}

#home:hover svg {
    background: var(--light-blue);
}

#home:hover svg path {
    stroke: var(--dark-blue);
}

h1 {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    font-size: 35px;
    font-weight: 700;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;

    position: relative;
    top: 5px;
    right: 5px;

    border-radius: 50%;

    background: var(--dark-blue);
    color: white;
    font-size: 25px;
    text-decoration: none;
}

#profile:hover {
    color: var(--dark-blue);
    background: var(--light-blue);
    border: 2px solid var(--dark-blue);
}

.wrapper {
    margin: 30px 30px 0;
}

.btn {
    display: block;
    width: 100%;
    height: 45px;

    margin: 10px 0 0 0;
    padding: 10px;

    font-size: 20px;

    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn-blue {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
}

.btn-blue:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
}

.btn-red {
    border: 2px solid var(--dark-red);
    background-color: var(--dark-red);
}

.btn-red:hover {
    border: 2px solid var(--dark-red);
    color: var(--dark-red);
    background: var(--light-red);
}

.btn-grey {
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
}

.btn-grey:hover {
    border: 2px solid var(--dark-grey);
    color: var(--dark-grey);
    background: var(--light-grey);
}

.btn-green {
    border: 2px solid var(--dark-green);
    background-color: var(--dark-green);
}

.btn-green:hover {
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
    background: var(--light-green);
}

footer {
    height: 150px;
    background: linear-gradient(white, 20%, var(--light-blue), 50%, var(--dark-blue));
    position: relative;
    margin-top: 50px;
}

footer p {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

@media print {

    header,
    footer,
    .no-print {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    header {
        background: linear-gradient(to right, var(--dark-blue), var(--light-blue));
        height: 80px;

        grid-template-columns: 80px 1fr 65px;
    }

    #home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }


    h1 {
        font-size: 50px;
    }

    #profile {
        width: 65px;
        height: 65px;

        top: 8px;
        right: 8px;

        font-size: 33px;
    }

    .wrapper {
        max-width: 770px;
        margin: 30px auto 0;
    }

    .btn {
        max-width: 350px;
        padding: 10px 25px;
        text-align: left;
    }

    footer {
        height: 120px;

    }

    footer p {
        left: 50%;
        width: 415px;
        transform: translateX(-50%);

    }
}