.print-heading {
    font-size: 22px;
    line-height: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', serif;
}

.print-subheading {
    font-size: 20px;
    line-height: 50px;
    font-weight: 500;

    margin: 10px 0;
}

.print-item * {
    font-size: 18px;

    margin: 15px 0 15px;
    display: inline-block;
}

.print-item p {
    margin-inline-start: 10px;
}

.print-list * {
    font-size: 18px;
    margin: 10px 0;
}

.print-list ul {
    margin-inline-start: 30px;
}

.print-center {
    text-align: center;
}

.print-font {
    font-family: 'Times New Roman', serif;
}
