table {
    width: 100%;
    border-spacing: 0;
}

table tr {
    vertical-align: top;
}

table td {
    width: 60%;
    padding: 2px 2px 2px 5px;
}

table td {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

table td:last-child {
    border-right: 1px solid black;
}

table tr:last-child td {
    border-bottom: 1px solid black;
}

table td ul {
    margin: 5px 0 5px 0;
    padding: 0 0 0 20px;
}

table td h2 {
    font-size: 20px;
    text-align: center;
}

table td h,
table td hi {
    font-size: 18px;
    font-weight: 600;
}

table td p,
table td pi {
    font-size: 16px;
}

table td hi,
table td pi {
    display: inline;
}